.table-demo-editable-cell .editable-row .editable-cell {
  display: inline-block;
  padding: 5px 11px;
}

.table-demo-editable-cell .editable-row .editable-cell:hover {
  border-radius: 4px;
  border: 1px solid #707070;
  padding: 4px 10px;
}
